*{
    margin:0;
    padding:0;
}

body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/Images/background.jpg");
}

.boxer{
    display:grid;
    position:absolute;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.boxer > div {
    width:88.3px;
    height:50.8px;
    border: 2px solid red;
    cursor:pointer;
    display:flex;
}

img{
    position:absolute;
    z-index:-1;
}

.style1{
    background-color: black;
}

form {
    margin: 50px 0 0 0;
}

label {
    font: bold 20px Helvetica, sans-serif;
    color:white;
    display: block;

    text-align: right;
    padding: 5px 10px 0 0;
    width: 140px;
}

input[type=text] {
    width: 100px;
    font: bold 20px Helvetica, sans-serif;
    padding: 3px 0 0 0;
    text-align: center;
    margin-left:60px;
}

form div {
    overflow: hidden;
    margin: 0 0 5px 0;
}

.dec {
    background-position: 0 -29px;
}
